<section id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call For Papers</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <h2>Call for Papers</h2>
            <p>WOWMON, The 1st Worshop on Workflow Monitoring, Observability,
            and in situ Analytics will be held during ICPP 2024, the
            International Conference on Parallel Processing
            <a href="https://icpp2024.org">https://icpp2024.org</a>. ICPP is
            one of the oldest computer science conferences; ICPP 2024 is the
            53rd edition of ICPP.</p>

            <h3>Workshop Theme</h3>
            <p>In recent years, there has been an emergence in high-performance
            workflow systems to address large-scale, complex scientific
            applications involving the interoperation of heterogeneous parallel
            tasks, massive data storage, and computational resources.  From
            scientific workflows coupling HPC simulations to distributed
            data-driven analytics frameworks to many task ensemble
            applications, workflow execution environments place significant
            demands on the system platform for its scalable and efficient
            operation.  In contrast to the performance optimization of
            traditional HPC applications that can rely on post-mortem
            performance analysis, dynamic performance monitoring and in situ
            analysis are crucial for evaluating and guiding resource management
            strategies for modern workflows.  The workshop will focus on
            research topics related to deploying high-performance workflow
            systems and integrating state-of-the-art technologies in this
            field. Topics of interest include, but are not limited to,
            performance modeling, resource management, fault tolerance,
            programming models, observability, and other aspects of workflow
            systems coupling in-situ/near-real-time analytics with HPC
            simulations/experiments.</p>

            <h3>Workshop Topic Relevance and Goals</h3>
            <p>The workshop is relevant to multiple aspects of parallel
            processing (HPC, workflows, runtime systems, performance
            measurement and analysis, scalability, and scheduling) that come
            together in high-performance workflow-driven applications where
            dynamic behavior and performance variability present challenges to
            effective workflow execution, resource scheduling, and tuning.  The
            target audience would encompass researchers and practitioners
            across the parallel processing spectrum, from HPC experts and
            workflow system developers to runtime system engineers, performance
            analysts, and scalability specialists.</p>

            <p>The main goals of the workshop are to bring together researchers
            across these aspects to discuss challenges facing the development
            of observability, online monitoring, and in situ analytics
            capabilities for scalable workflow operation and optimization.</p>

            <p>
            ICPP 2024 will be held in Gotland, Sweden, from August 12 - 15,
            2024.
            Topics of interest for the WOWMON workshop include, but are not
            limited to:</p>

            <ul>
                <li><b>Application Workflows:</b> Development of HPC and Big
                Data application workflows</li>
                <li><b>Tuning:</b> Workflow system performance analysis
                and tuning</li>
                <li><b>Observation:</b> Performance measurement, analysis, and
                monitoring research and tool development</li>
                <li><b>Scheduling:</b> Parallel system scheduling and resource
                allocation research </li>

            </ul>
            <h3>Description of Target Audience</h3>
            <p>The landscape for large HPC workflows is changing rapidly, and
            traditional workflow models relying on post-mortem analysis after
            completion often offer limited guidance for optimization. In situ
            analytics techniques embedded within the workflow are gaining
            traction, enabling real-time performance and intermediate results
            analysis. This allows for dynamic adjustments to scheduling,
            resource allocation, and execution strategies based on the
            unfolding data. The concept for the workshop grew out of two
            Dagstuhl seminars in 2023:
            <ul>
            <li>Driving HPC Operations With Holistic Monitoring and Operational
            Data Analytics (Dagstuhl Seminar 23171)</li>
            <li>Integrating HPC, AI, and Workflows for Scientific Data Analysis
            (Dagstuhl Seminar 23352)</li>
            </ul>
            in which the workshop organizers participated.  From our
            experiences there, we believe that the workshop will be of interest
            to a cross-section of people attending those seminars, as well as
            those interested in these topics.</p>

        </div>
</section>
