<!-- Portfolio Grid Section -->
    <section id="committee" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Committee Members</h1>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <h2>Organizing Committee</h2>
            <p> TODO add everyone </p>
            <p>Allen D. Malony, University of Oregon</p>
            <p>Shantenu Jah, Rutgers University / Brookhaven National Laboratory</p>
            <p>Ana Gainaru, Oak Ridge National Laboratory</p>
            <p>Kevin Huck, University of Oregon</p>
            <p>Silvina Caino-Lores, Inria</p>

            <h2>Technical Program Committee</h2>
            <p> Michael Ott, Leibniz Supercomputing Centre</p>
<p> Florina Ciorba, University of Basel</p>
<p> Srinivasan Ramesh, NVIDIA</p>
<p> Anthony Kougkas, Illinois Institute of Technology</p>
<p> Luan Teylo, Inria</p>
<p> Sean Wilkinson, Oak Ridge National Lab</p>
<p> Cyrus Harrison, Lawrence Livermore National Lab</p>
<p> Iacopo Colonnelli, Università di Torino</p>
<p> Douglas Thain, University of Notre Dame</p>
<p> David Marchant, University of Copenhagen </p>
<p> Tapasya Patki, Lawrence Livermore National Lab</p>
<p> Ulf Leser, Humboldt University of Berlin</p>
<p> Ivan Rodero, University of Utah</p>
<p> Jakob Luettgau, Inria</p>
<p> Raul Sirvent, Barcelona Supercomputing Center</p>

        </div>
    </section>

