<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">WOWMON</h2>
                </div>
            </div>
            <h4 align="center">In cooperation with <a target="_blank" href="https://www.computer.org/">IEEE Computer Society</a> and <a target="_blank" href="https://www.acm.org/">ACM</a>  </h4>
            <div align="center"><img class="block"  src="/images/IEEE-CS_LogoTM-orange.png" alt="" width="160" height="45"/> <img class="block"  src="/images/acm.png" alt="" height="45"/></div>
            <h4 align="center">Held in conjunction with <a target="_blank" href="https://sc23.supercomputing.org/">ICPP 24:</a> International Conference in Parallel Processing</h4>

    </section>
