<!-- Services Section -->
    <section id="Program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workshop Program</h2>
                </div>
            </div>
            <div class="row">
                <h3 class="section-heading"><u>WOWMON Agenda</u> : Monday, August 12, 2024</h3>
            </div>
            <div class="row" class="col-lg-12 text-center">
<table>
	<body>
        <!-- 12:00-13:30: Lunch -->
		<tr>
			<th>12:00</th>
			<td class="stage-earth">Lunch Break</td>
		</tr>
        <!-- 13:30: Welcome -->
		<tr>
			<th>13:30</th>
			<td class="stage-earth">Welcome<span></span></td>
		</tr>
		<tr>
			<th>13:35</th>
			<td class="stage-saturn">Session A</td>
		</tr>
		<tr>
			<th></th>
			<td class="stage-saturn">
            Position statement (45 minutes) from WOWMON organizers
            <span>
            <ul>
                <li>Shantenu Jha, Rutgers University, USA</li>
                <li>Ana Gainaru, Oak Ridge National Laboratory, USA</li>
                <li>Silvina Caino-Lores, Inria, France</li>
            </ul>
            </td>
		</tr>
		<tr>
			<th>14:20</th>
			<td class="stage-saturn">
            Talk 1 (25 minutes) - Scheduling Scientific Workflows in DFG CRC FONDA
            <span>
                <b>Presenter:</b> Svetlana Kulagina, Humboldt University of Berlin, Germany</span>
            <span>
                <b>Abstract:</b>
The DFG-funded collaborative research center (CRC) FONDA investigates
methods for increasing productivity in the development, execution, and
maintenance of Data Analysis Workflows for large scientific data sets.
FONDA seeks to improve human productivity when creating and executing
scientific software, rather than to optimize machine resource
utilization. The aim of subproject B1 in FONDA is to enhance the
portability of software and develop novel scheduling and load
balancing algorithms, using data gathered from the execution
environments about workflows and the infrastructure. I will present
the main achievements of B1 in architecture discovery and my own in
the development of scheduling algorithms for large scientific
workflows. </span>
            <span>
                <b>Bio:</b>
Svetlana Kulagina is a PhD student in the group "Modeling and
Analysis of Complex Systems" at the Institute of Computer Science at
Humboldt-Universität zu Berlin. Her research is focused on scheduling
and load balancing in heterogeneous distributed execution environments,
especially memory-aware algorithms for scheduling.</span>
            </td>
		</tr>
		<tr>
			<th>14:45</th>
			<td class="stage-saturn">
            Talk 2 (25 minutes) - DaYu: A Two-level I/O Performance Tool for Distributed Scientific Workflows
            <span><b>Presenter:</b> Xian-He Sun, Illinois Institute of Technology, USA</span>
            <span>
                <b>Abstract:</b>
Big data, AI, and other data-driven applications generate massive
amounts of data and create new data-discovery demands. Data access has
become a killer performance bottleneck for AI and data-driven
applications. Many solutions have been developed to optimize I/O
performance. However, current solutions have their limitations in a
distributed workflow environment, where different processing phases
exist, and each phase may have its different I/O access patterns. Data
can be reused cross phases in a workflow environment and optimizing
I/O on one phase may not lead to global optimization. In this talk, we
introduce DaYu, a method and toolset designed to address I/O
bottlenecks in distributed workflows. DaYu analyzes semantic
relationships between logical datasets and file addresses, translates
dataset operations into I/O patterns, and considers optimization
across entire workflows. DaYu’s visualization aids in identifying
critical bottlenecks, leading to up to 3.7x performance improvements
in I/O time for obscure bottlenecks. We will motivate the I/O issues,
describe the DaYu methodology, and propose optimization guidelines.
            </span>
            <span>
                <b>Bio:</b>
Dr. Xian-He Sun is a University Distinguished Professor, the Ron
Hochsprung Endowed Chair of Computer Science, and the director of the
Gnosis Research Center for accelerating data-driven discovery at the
Illinois Institute of Technology (Illinois Tech). Before joining
Illinois Tech, he worked at DoE Ames National Laboratory, at ICASE,
NASA Langley Research Center, at Louisiana State University, Baton
Rouge, and was an ASEE fellow at Navy Research Laboratories. Dr. Sun
is an IEEE fellow and is known for his memory-bounded speedup model,
also called Sun-Ni’s Law, for scalable computing. His research
interests include high-performance data processing, memory and I/O
systems, and performance evaluation and optimization. He has over 300
publications and 6 patents in these areas and is currently leading
multiple large software development projects in HPC I/O
systems. Dr. Sun is the Editor-in-Chief of the IEEE Transactions on
Parallel and Distributed Systems, and a former department chair of the
Computer Science Department at Illinois Tech. He received the Golden
Core award from IEEE CS society in 2017, the ACM Karsten Schwan Best
Paper Award from ACM HPDC in 2019, the Ron Hocksprung Endowed Chair
from Illinois Tech in 2020, and the first prize best paper award from
ACM/IEEE CCGrid in 2021. More information about Dr. Sun can be found
at his web site <a href="https://www.cs.iit.edu/~sun/">www.cs.iit.edu/~sun/</a>
            </span>
            </td>
		</tr>
        <!-- 15:10-15:40: Break -->
		<tr>
			<th>15:10</th>
			<td class="stage-earth">Break</td>
		</tr>
		<tr>
			<th>15:40</th>
			<td class="stage-saturn">Session B</td>
		</tr>
		<tr>
			<th></th>
			<td class="stage-saturn">
            Keynote (45 minutes) - Predicting Heterogeneity and Serverless Principles of Converged HPC, AI, and Workflows
            <span>
            <b>Presenter:</b> Dejan Milojicic (Hewlett Packard Labs), USA
            </span>
            <span>
            <b>Abstract:</b>
Traditional HPC and modern AI computing are converging with workflows
as a common paradigm. We predict nine principles of heterogeneity and
serverless for this convergence, from high-level programming to
low-level hardware. Workflows enable a higher level of abstraction
that is easier to develop, (re)use, and operate. Both HPC and AI
depend heavily on accelerators, and they both adopt serverless
computing. Similarly to workflows, serverless also raises the level of
abstraction and simplifies DevOps. The principles and approaches we
describe strive towards enabling seamless scalability and fluidity for
end users; increased productivity of developers; and improved
performance efficiency of providers.
            </span>
            <span>
            <b>Bio:</b>
Dejan Milojicic is an HPE Fellow and VP at Hewlett Packard Labs, Palo
Alto, CA [1998-present]. Previously, he worked at the OSF Research
Institute, Cambridge, MA [1994-1998] and Institute "Mihajlo Pupin",
Belgrade, Serbia [1983-1991]. He received his Ph.D. from the
University of Kaiserslautern, Germany (1993); and his MSc/BSc from
Belgrade University, Serbia (1983/86). His research interests include
systems software, distributed computing, systems management, and
HPC. Dejan has over 240 papers, 2 books, and 86 granted patents. Dejan
is an IEEE Fellow (2010), ACM Distinguished Engineer (2008), and HKN
and USENIX member. Dejan was on 9 Ph.D. thesis committees, and he
mentored over 90 interns. Dejan was president of the IEEE Computer
Society (2014), an IEEE presidential candidate in 2019,
editor-in-chief of IEEE Computing Now and Distributed Systems Online
and he has served on many editorial boards and TPCs. Dejan led large
industry-government-university collaborations, such as Open Cirrus
(2007-2011) and New Operating System (2014-2017).
            </span>
            </td>
		</tr>
		<tr>
			<th>16:25</th>
			<td class="stage-saturn">
            Talk 3 (25 minutes) - Workflow Smarter, Not Harder
            <span>
            <b>Presenter:</b> Dewi Yokelson, Lawrence Livermore National Laboratory, USA
            </span>
            <span>
            <b>Abstract:</b>
The rise of workflows as the new paradigm for HPC applications
presents many opportunities when it comes to building tools to monitor
their performance. With independent tasks being scheduled and
completed at different times, traditional HPC application monitoring
tools typically lack the ability to adapt to the proper scope and
lifetime of the workflow. From the perspective of a performance
monitoring tool developer, there are four significant
challenges. First, workflows introduce new performance data domains
and scopes. Second, another layer of compatibility must be taken into
account when encouraging tool adoption. Third, online analysis and
modeling must now be adjusted for systems consisting of heterogeneous
tasks and architectures. Finally, determining how and when to make
online changes to the workflow becomes a more complex
problem. Recently, we embarked on a project for monitoring workflows
that are managed by the RADICAL-Pilot system. The framework we used is
called SOMA, which stands for Service-based Observability, Monitoring,
and Analytics. Integrating SOMA and RADICAL-Pilot allowed us to
collect and analyze data online from two different workflows. We
discuss how the approach in this project addressed the first two
challenges, and where opportunities still exist with the remaining two
challenges. Capitalizing on these opportunities for effective workflow
performance monitoring tools will enable smarter workflows.
            </span>
            <span>
            <b>Bio:</b>
Dewi Yokelson is a Postdoctoral Researcher at Lawrence Livermore
National Lab in Livermore, California. She received her PhD in
Computer Science at the University of Oregon in Eugene, Oregon under
Dr. Allen Malony. Her research interests include monitoring and
analyzing the performance of HPC applications. She is also interested
in post-mortem performance observation, analysis, and visualization,
performance modeling, and benchmarking.
            </span>
            </td>
		</tr>
		<tr>
			<th>16:50</th>
			<td class="stage-saturn">
            Talk 4 (25 minutes) - EPCC’s Use of Monitoring for Resource Usage Optimisation
            <span>
            <b>Presenter:</b> Michele Weiland, EPCC, Scotland
            </span>
            <span>
            <b>Abstract:</b>
EPCC is the UK’s largest supercomputing centre, hosting both national
HPC infrastructure as well as smaller data analytics and AI/ML
focussed systems in a large state-of-the-art datacentre. Operating all
our systems as efficiently as possible is a primary goal, and close
monitoring of the infrastructure (e.g. from system workload to power
and cooling) is key in achieving this. This talk will give an overview
of the types of monitoring we do at EPCC and how the monitoring data
is used to optimise our day-to-day operation. I will also discuss the
challenges around creating a comprehensive monitoring environment in a
datacentre with a large number of diverse systems.
            </span>
            <span>
            <b>Bio:</b>
Professor Michele Weiland is the Met Office Joint Chair at EPCC, the
supercomputing at the University of Edinburgh. She leads EPCC’s
technical work in the UKRI funded ASiMoV Strategic Prosperity
Partnership with Rolls-Royce, which is developing high-fidelity
multi-physics simulations of aircraft engines. She also leads a large
collaborative effort with the Met Office on optimising their next
generation weather modelling systems, and she is a PI on the AI for
Net Zero project “Real-time Digital Optimisation and Decision Making
for Energy and Transport Systems”. She also leads research efforts in
an international collaboration “CONTINENTS” between EPCC, the National
Centre for Atmospheric Sciences in the UK, and the NSF National Centre
for Atmospheric Research in the US, which aims to transform the
state-of-the-art in sustainability and power/energy efficiency of
computational modelling and simulation in weather and climate.
            </span>
            </td>
		</tr>
		<tr>
			<th>17:15</th>
			<td class="stage-earth">Closing<span>
		</tr>
	</body>
</table>
            </div>
    </section>
