<section id="submission" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Submission</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <h2>Important Dates</h2>

            <p>Abstract submission deadline: <s>May 24, 2024</s><b><font color="#8E236B"> June 14, 2024 (AoE)</font></b></p>
            <p>Full Paper submission deadline: <s>May 31, 2024</s><b><font color="#8E236B"> June 14, 2024(AoE)</font></b></p>

            <p>Author notification: <s>June 21, 2024</s><b><font color="#8E236B"> July 3, 2024</font></b></p>

            <p>Camera-ready final papers submission deadline: <b><font color="#8E236B">TBD (AoE)</font></b></p>


      <h2>Submissions</h2>

        <p>&bull; Paper submissions should not exceed 10 pages (including references)
        and all submissions must be made electronically through the ICPP conference
        submission portal
        (<a href="https://ssl.linklings.net/conferences/icpp/">https://ssl.linklings.net/conferences/icpp/</a>)
        in PDF format printable on US letter size (8.5" x 11") paper. Please use the
        ACM format located at:
        <a href="https://www.acm.org/publications/proceedings-template">
        https://www.acm.org/publications/proceedings-template</a>. More
        specifically, we recommend using
        <tt>\documentclass[sigconf,review,anonymous]{acmart}</tt> configuration for
        submissions prepared in LaTex. Changes to the template (e.g., margin,
        font size) could lead to automatic rejection.
        <!-- Do we want to deal with extra pages? I think not... -->
        <!--Up to two additional
        pages may be subsequently purchased (if needed) for the camera-ready
        version.-->
        </p>
        <p>&bull; Submissions should represent original research results and
        cannot already be under review or accepted for publication in another
        venue.<p>
        <p>&bull; Paper submission should be in single-blind ACM format.</p>
        <p>&bull; Submitted papers will be evaluated by at least 3 reviewers based upon technical merits. The accepted papers will be published with IEEE/ACM.</p>
        <p>&bull; All accepted papers that are presented at the conference will
        be published in the ACM Digital Library.</p>
        <p>&bull; Accepted papers will also need
        to follow the conference registration policy to be included in the
        conference proceedings.</p>
        <p>&bull; Rejected ICPP submissions are welcome to submit
        to the workshop if the authors choose to do so.</p>

</div>
    </section>
