<section id="submission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Submission</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <h2>Important Dates</h2>

            <p>Abstract submission deadline: <b><font color="#8E236B"> May 24, 2024 (AoE)</font></b></p>
            <p>Full Paper submission deadline: <b><font color="#8E236B"> May 31, 2024(AoE)</font></b></p>

            <p>Author notification: <b><font color="#8E236B">June 21, 2024</font></b></p>

            <p>Camera-ready final papers submission deadline: <b><font color="#8E236B">TBD (AoE)</font></b></p>


      <h2>Submissions</h2>

        <p>&bull; Papers should be submitted electronically at <a href="https://ssl.linklings.net/conferences/icpp/">https://ssl.linklings.net/conferences/icpp/</a></p>

        <p>&bull; Paper submission should be in single-blind ACM format.</p>

        <p><a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a></p>


        <p>&bull; Submitted papers will be evaluated by at least 3 reviewers based upon technical merits. The accepted papers will be published with IEEE/ACM.</p>

</div>
    </section>
