<!DOCTYPE html>
<html>

  {% include 2024_data/head.html %}


    <body id="page-top" class="index">

    {% include 2024_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <div class="intro-lead-in"><font size="8">The 1st Worshop on Workflow Monitoring, Observability, and in situ Analytics</font><br/></div>
                <div class="intro-lead-in"><font size="6">August 12th, 2024</font></div>
                <div class="intro-lead-in"><font size="6">Gotland, Sweden</font></div>
            </div>
        </div>
    </header>

    {% include 2024_data/intro.html %}
    {% include 2024_data/abstract.html %}
    {% include 2024_data/cfp.html %}
    {% include 2024_data/submission.html %}
    {% include 2024_data/committee.html %}
    {% include 2024_data/js.html %}

    </body>
</html>
